@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

h1 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-display: swap;
  display: flex;
  justify-content: center;
  line-height: 1em;
  font-size: 5em;
  box-shadow: 0 1px 1px 2px  rgba(255, 255, 255, 0.2);
}

.header-wrapper {
  top: 0;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  background-color: white;
  z-index: 3;
  padding-bottom: -5vh;
}