@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app {
    display: flex;
    flex-direction: column;
  }
  h1 {
    display: flex;
    line-height: 1em;
    font-size: 2em;
  }
  
  .header-wrapper {
    top: 0;
    display: flex;
    position: fixed;
    width: 60%;
    justify-content: center;
    background-color: white;
    z-index: 3;
  }
  
  .events-list-wrapper-solo {
    margin-left: -4em;
    max-width: 22em;
    z-index: 1000;
  }
  
  .app-holder {
   flex-direction: column;
  }
  
  img {
    display: none;
  }
  
  .btn-section-sidebar {
    width: 50%;
    margin: 0.1em;
    padding: 0.1em;
  
  }
  
  .btn-text-sidebar {
    padding-left: 0.1em;
    font-size: 70%;
  }
  
  .sidebar-container {
    flex-direction: row;
    margin-top: -12vh;
    height: 10%;
    background-color: transparent;
  }
  
  .sidebar-link {
    min-width: 13.5vh;
    margin:-1em;
    overflow-y: hidden;
    
  }
  
  .sign-in-btn,
  .sign-out-btn {
    font-weight: 600;
    font-size: 70%;
    min-width: 6.2vh;
    max-height: 4.7vh;
    margin-top:-1.65vh;
    margin-bottom: 1em;
  }
  
  .event-card {
    width: 90%;
  }
  
  .events-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }


}

@media screen and (max-width: 390px) {
  
  .app {
    overflow-y: auto;
  }
  
  .header-wrapper {
    top: 0;
    width: 100%;
    position: fixed;
    overflow-y: hidden;
  }
  
  .spinner {
    margin-right: 30vw;
  }
  
  .events-wrapper {
    margin-bottom: 1em;
    width: 2%;
    height: auto;
  }
  
  .form-wrapper {
    display: flex;
    margin-left: -7em;
    margin-top: -50em;
    position: fixed;    
  }
  
  .event-card {
    width: 90%;
  }
  
  .events-list-wrapper {
    margin-top: 20em;
    margin-left: -0.5em;
  }
  
  .events-list-wrapper-solo {
    margin-left: -1.5em;
    max-width: 22em;
    z-index: 1000;
  }
  
  .events-page-container {
    width: 100%;
    display: flex;
  }
 
  
  
}

