.app {
  text-align: center;
}

.app-holder {
  display: flex;
  justify-content: space-between;
}

.classroom-dashboard{
  display: flex;
  flex-direction: center;
  justify-content:center;
  align-items: center;
}

.videos-wrapper {
  display: flex;
  justify-content: space-evenly;  
  flex-direction: row;
  margin-top: 30vh;
}

.my-video {
  padding-top: 1em;
  background-color:#060606;
  border-radius: 0.3em;
}

.peer-video {
  padding-top: 1em;
  background-color:#060606;
  border-radius: 0.3em;
}

.videoplayer-container {
  display: flex;
  margin-left: 0em;
  justify-content: flex;
  align-items: justify;
  z-index: 999;
  border-radius: 0.5em;
  border: 0.2em solid rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.85);
}


.cam-input-btn {
  background-color: rgba(25, 216, 223, 0.9);
  border: 1px solid rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5em;
  margin: 0.5em;
}

.mic-input-btn {
  background-color: rgba(223, 141, 25, 0.65);
  border: 1px solid rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5em;
  margin: 0.5em;
}

.phone-input-btn {
  background-color: rgba(249, 52, 52, 0.738);
  border: 1px solid rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5em;
  margin: 0.5em;
}