.app {
  text-align: center;
}

.app-holder {
  display: flex;
  justify-content: space-between;
  
}

.dashboard-container {
  display: flex;
  padding-top: 10vh;
  align-items: flex-start;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 15vw;
  margin-right: 10vw;
  width: 160vh;
  min-height: 35vh;
  height: fit-content;
  background-color: rgba(86, 81, 81, 0.1);
}


.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  /* background-color:red; */
  /* background-color: rgba(125,125,125, 0.055); */
  z-index:1;
}


.page-title {
  display:flex;
  z-index: 10;
  margin: 5vh;
}