/*App Level*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
  font-family: Lato;
  line-height: 1.5;
}

.app-main {
  margin-top: 15vh;
  display: flex;
  justify-content: space-around;
  
}

/*List Event*/
.events-list {
  display: block;
  width: 60%;
}

.events-wrapper {

  flex-direction: row;
}

#list {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  overflow-y: auto;
}

#list .event-container {
  background-color: rgba(125, 125, 125, 0.1);

  display: flex;
  max-width: 99.5%;
  max-height: fit-content;
  width: auto;
  justify-content: flex-start;
  margin-top: 2vh;
  border: 1px solid #999;
  border-radius: 0.2em;
  box-shadow: 2px 2px 2px 2px rgba(217, 254, 247, 0.926),
    1.8px 1.8px 0px 1.8px rgba(88, 77, 77, 0.5),
    2.2px 2.2px 0.5px 0.5x rgba(23, 236, 232, 0.933),
    1px 2px 1px 1.8px rgba(255, 0, 255, 0.9),
}

#list .event-container:hover {
  background-color: rgba(125, 125, 125, 0.01);
  border: 1px solid #999;
  box-shadow: 2px 2px 0px 0px rgba(217, 254, 247, 0.926),
    1.8px 1.8px 0px 0px rgba(88, 77, 77, 0.5),
    1.2px 1.2px 0px 0px rgba(23, 236, 232, 0.933),
    1px 2px 1px 1.8px rgba(255, 0, 255, 0.9),
}

#list .event-date-container {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0.1em;
  background-color: rgba(103, 15, 147, 0.632);
}

#list .event-date {
  color: #fff;
  font-weight: 900;
  font-size: 2.5em;
  align-items: center;

}

#list .go-to-event-container {
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  
}

#list .go-to-event-btn {
  display: flex;
  align-items:center;
}

#list .event-content-container {
  margin-left: 5vh;
  margin-right: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  text-align: left;
}

#list .event-title {
  font-weight: 700;
  font-size: 1.5em;
  max-width: 65ch /*max width of characters per line*/
}

#list .event-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #657786;
}

.event-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}