.landing-header {
  background-color: rgb(255, 255, 255);
  margin-top:0em;
  position: fixed;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  z-index:30;
}

.landing-header h1 {
  text-align: left;
  padding-top: 0.5em;
  padding-left: 0.2em;
}

.signin-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0vh;
  margin-left: -9vw;
  width: 160vh;
  min-height: 20vh;
  height: fit-content;
}

.land  {
  width: 100%;
  height: 155rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-hero {
  background-color: rgba(100,100,100, 0.2);
}

.button-scroll {
  z-index: 100;
}


.l-main {
  background-color: rgba(202, 196, 196, 0.2)
}

.l-footer {
  background-color: rgba(100,100,100, 0.2)
}

