.landing-header {
  background-color: rgb(255, 255, 255);
  margin-top:0em;
  position: fixed;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  z-index:30;
}

.landing-header h1 {
  text-align: left;
  padding-top: 0.5em;
  padding-left: 0.2em;
}

.signin-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0vh;
  margin-left: -9vw;
  width: 160vh;
  min-height: 20vh;
  height: fit-content;
}

.land  {
 
}

.l-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgba(200, 200, 200, 0.2);
  width: 100%;
  height: 75rem;
}

.hero-title {
  font-size:  5.5em;
  margin-right: 0%;
  margin-left: -0%;
}

.hero-text {
  font-size:  2.5em;
  display: flex;
  margin-right: 0%;
  margin-left: -0%;
}

.description {
  max-width: 60ch;
}



.button-scroll {
  z-index: 1;
}


.l-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(202, 196, 196, 0.2);
  width: 100%;
  height: 75rem;
}


.box-wrapper {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.box-topic {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  flex-direction: column;
  border: none;
}


.l-footer {
  background-color: rgba(100,100,100, 0.2)
}

