.sidebar-container {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  flex-direction: column;
  top: 23.2vh;
  margin-left: 1em;
  width: 10vw;
  height: 80vh;
  z-index: 2;
}

.btn-section-sidebar {
  display: flex;

  max-width: 100%;
  justify-content:flex-start;
  padding: 0.5em;
  border: 1px solid rgb(69, 67, 67, 0.3);
  box-shadow: 1px 2px 1px 1.8px rgba(58, 154, 154, 0.9),
    2.8px 3px 7.9px 1px rgba(255, 0, 255, 0.9),
    2.3px 5.5px 15px 1.5px rgba(15, 255, 251, 0.998);

  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(100, 100, 100, 0.01);
  align-items: center;
  height: auto;
  flex-direction: row;
  cursor: pointer;
}

.btn-section-sidebar:active {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  border: 1px solid rgb(69, 67, 67, 0.3);
  box-shadow: 1px 2px 1px 1.8px rgba(255, 0, 255, 0.9),
    2.8px 3px 7.9px 1px rgba(15, 255, 251, 0.998),
    2.3px 5.5px 15px 1.5px rgba(58, 154, 154, 0.9);

  margin-top: 1em;
  transform: translate(0.2%, 1%);
  margin-bottom: 1em;
  background-color: rgba(100, 100, 100, 0.01);
  align-items: center;
  height: auto;
  flex-direction: row;
  cursor: pointer;
}

.btn-section-sidebar:hover {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  border: 1px solid rgb(69, 67, 67, 0.3);
  box-shadow: 1px 2px 1px 1.8px rgba(58, 154, 154, 0.9),
    2.8px 3px 7.9px 1px rgba(15, 255, 251, 0.998),
    2.3px 5.5px 10px 1.5px rgba(255, 0, 255, 0.9);

  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(100, 100, 100, 0.05);
  align-items: center;
  height: auto;
  flex-direction: row;
}

.btn-img-sidebar {
}

.btn-text-sidebar {
  font-size: 80%;
  padding-left: 0.5em;
}

.sidebar-link {
  text-decoration: none;
  min-width: 13vh;
  color: rgba(2, 1, 44, 0.9);
}

.profile-btn {
  width: 90%;
}

.events-btn {
  width: 90%;
}

.classroom-btn {
  min-width:200vh;
  width: 90%;
}

.settings-btn {
  width: 90%;
};